In [1]:
#Loading the required Packages
import pandas as pd

In [2]:
 #reading the .xls file into dataframes
    
df_Chemie_1 = pd.read_excel('Chemie.xls', header = 4)
df_Chemie_2 = pd.read_excel('Chemie_01_26-07_19.xls', header = 4)

df_Großtagespflege_1 = pd.read_excel('Großtagespflege.xls', header = 4)
df_Großtagespflege_2 = pd.read_excel('Grosstagespflege_04_05-07_19.xls', header = 4)

df_HGII_1 = pd.read_excel('HG II.xls', header = 4)
df_HGII_2 = pd.read_excel('HGII_01_26-07_19.xls', header = 4)

df_KitaHokido_1 = pd.read_excel('Kita Hokido.xls', header = 4)
df_KitaHokido_2 = pd.read_excel('Kita Hokido_05_22_20-07_19_22.xls', header = 4)

df_OH12_1 = pd.read_excel('OH12.xls', header = 4)
df_OH12_2 = pd.read_excel('OH12_01_26-07_19.xls', header = 4)

df_OH14_1 = pd.read_excel('OH14.xls', header = 4)
df_OH14_2 = pd.read_excel('OH14_01_26-07_19.xls', header = 4)

list_df = [df_Chemie_1, df_Chemie_2, df_Großtagespflege_1, df_Großtagespflege_2, df_HGII_1, df_HGII_2, 
      df_KitaHokido_1, df_KitaHokido_2, df_OH12_1, df_OH12_2, df_OH14_1, df_OH14_2]

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
df_Chemie_1.shape

(65531, 22)

In [6]:
df_Chemie_2.shape

(16706, 14)

In [7]:
df_Großtagespflege_1.shape

(15626, 46)

In [8]:
df_Großtagespflege_2.shape

(10092, 25)

In [9]:
df_HGII_1.shape

(12072, 23)

In [10]:
df_HGII_2.shape

(16712, 21)

In [11]:
df_KitaHokido_1.shape

(65531, 8)

In [12]:
df_KitaHokido_2.shape

(65531, 8)

In [13]:
df_OH12_1.shape

(43652, 27)

In [14]:
df_OH12_2.shape

(11498, 20)

In [15]:
df_OH14_1.shape

(19564, 18)

In [16]:
df_OH14_2.shape

(16712, 17)

In [17]:
df_KitaHokido_1.head()

,OBIS Bezeichnung,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
0,OBIS Einheit,kWh,m³/h,°C,°C,kW,m³,kWh
1,2022-01-26 05:30:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.99
2,2022-01-26 05:15:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.84
3,2022-01-26 05:00:00,471184,0.163,64.8,59.3,1.012,5076.468,113602.67
4,2022-01-26 04:45:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.52

In [19]:
df_KitaHokido_1 = df_KitaHokido_1.drop(0, axis = 0) #dropping the first row
df_KitaHokido_1 = df_KitaHokido_1.reset_index(drop = True) #resetting the index
df_KitaHokido_1 = df_KitaHokido_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'
df_KitaHokido_1.head()

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
0,2022-01-26 05:15:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.84
1,2022-01-26 05:00:00,471184,0.163,64.8,59.3,1.012,5076.468,113602.67
2,2022-01-26 04:45:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.52
3,2022-01-26 04:30:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.39
4,2022-01-26 04:15:00,NaN,NaN,NaN,NaN,NaN,NaN,113602.26

In [20]:
df_KitaHokido_1.columns #checking the features present in the dataset

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Vorlauftemperatur',
       'Rücklauftemperatur', 'Wärmeleistung', 'Volumen Kanal 1',
       'WV+ Arbeit Tarif 1'],
      dtype='object')

In [21]:
df_KitaHokido_1.describe()

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
count,65529,16381,16381.0,16381.0,16381.0,16381.0,16380.000,65524.00
unique,65521,10429,1648.0,381.0,460.0,5569.0,7698.000,65524.00
top,2020-10-25 03:00:00,432028,0.0,62.3,55.3,0.0,4650.003,113602.84
freq,2,47,214.0,344.0,154.0,338.0,71.000,1.00

In [22]:
df_KitaHokido_1.isnull().sum().sum()  #provides the summation of null values in our dataset featurewise

294894

In [23]:
df_KitaHokido_1.agg(['min', 'max'])  #finding the min max values of each feature

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
min,2020-03-14 15:15:00,376796,0.000,25.0,20.5,0.000,4284.650,88836.98
max,2022-01-26 05:15:00,471184,1.973,84.8,69.4,76.273,5076.468,113602.84

In [24]:
df_KitaHokido_2 = df_KitaHokido_2.drop(0, axis = 0)  #dropping the first row
df_KitaHokido_2 = df_KitaHokido_2.reset_index(drop = True)
df_KitaHokido_2 = df_KitaHokido_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1)
df_KitaHokido_2.head()

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
0,2022-04-05 02:15:00,NaN,NaN,NaN,NaN,NaN,NaN,116705.67
1,2022-04-05 02:00:00,484988,0.316,59.3,59.4,0.134,5172.875,116705.52
2,2022-04-05 01:45:00,NaN,NaN,NaN,NaN,NaN,NaN,116705.34
3,2022-04-05 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,116705.18
4,2022-04-05 01:15:00,NaN,NaN,NaN,NaN,NaN,NaN,116705.06

In [25]:
df_KitaHokido_2.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Vorlauftemperatur',
       'Rücklauftemperatur', 'Wärmeleistung', 'Volumen Kanal 1',
       'WV+ Arbeit Tarif 1'],
      dtype='object')

In [26]:
df_KitaHokido_2.describe()

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
count,65530,16290,16290.0,16290.0,16290.0,16290.0,16289.000,65156.00
unique,65522,10588,1714.0,387.0,469.0,5795.0,7959.000,65156.00
top,2020-10-25 03:00:00,432028,0.0,62.3,55.3,0.0,4650.003,116705.67
freq,2,47,214.0,349.0,157.0,338.0,71.000,1.00

In [27]:
df_KitaHokido_2.isnull().sum().sum()

295815

In [28]:
df_KitaHokido_2.agg(['min', 'max'])   #finding the min max values of each feature

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,WV+ Arbeit Tarif 1
min,2020-05-22 12:00:00,379888,0.000,25.0,20.5,0.000,4301.371,89792.46
max,2022-04-05 02:15:00,484988,1.979,84.8,69.4,76.273,5172.875,116705.67

In [29]:
df_Chemie_1 = df_Chemie_1.drop(0, axis = 0) #dropping the first row
df_Chemie_1 = df_Chemie_1.reset_index(drop = True) #resetting the index
df_Chemie_1 = df_Chemie_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [30]:
df_Chemie_1.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,Volumen Kanal 1.1,Fehler Flags,WV+ Arbeit Tarif 1,...,WV+ Arbeit Tarif 1.1,P Summe,WV+ Arbeit tariflos,WV+ Arbeit Tarif 1.2,WV- Arbeit tariflos,WV- Arbeit Tarif 1,BV+ Arbeit tariflos,BV+ Arbeit Tarif 1,BV- Arbeit tariflos,BV- Arbeit Tarif 1
min,2020-03-14 15:15:00,44520655,0.000,65.8,44.4,0.000,10159.14,12373.554,NaN,1490274.3,...,9675.7,0,900.1225,900.1225,0.0043,0.0043,612.5752,612.5752,1.4426,1.4426
max,2022-01-26 05:30:00,46528915,7.412,140.8,96.9,419.857,10194.66,15053.896,NaN,8267809.7,...,10951.5,0,900.1225,3210.9745,0.0043,0.0401,612.5752,612.5752,1.4426,1.4426

In [31]:
df_Chemie_1.isnull().sum().sum()

1088547

In [32]:
df_Chemie_2 = df_Chemie_2.drop(0, axis = 0) #dropping the first row
df_Chemie_2 = df_Chemie_2.reset_index(drop = True) #resetting the index
df_Chemie_2 = df_Chemie_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [33]:
df_Chemie_2.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Vorlauftemperatur,Rücklauftemperatur,Wärmeleistung,Volumen Kanal 1,Volumen Kanal 1.1,Gerätenummer,Volumen Kanal 1.2,WV+ Arbeit Tarif 1,WV+ Arbeit Tarif 1.1,WV+ Arbeit Tarif 1.2,WV- Arbeit Tarif 1
min,2022-01-26 00:45:00,46527907,0.000,71.3,49.9,0.000,10194.66,15066.673,18126669,71.041,8265969.1,10951.2,3210.9745,0.0401
max,2022-07-19 01:45:00,48471182,64.391,132.1,78.3,2550.702,10204.29,15662.370,18126669,84.066,10063898.3,11472.4,4281.9272,0.0784

In [34]:
df_Chemie_2.isnull().sum().sum()

96929

In [35]:
df_Großtagespflege_1 = df_Großtagespflege_1.drop(0, axis = 0) #dropping the first row
df_Großtagespflege_1 = df_Großtagespflege_1.reset_index(drop = True) #resetting the index
df_Großtagespflege_1 = df_Großtagespflege_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [36]:
df_Großtagespflege_1.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,...,BV+ Arbeit Tarif 1.1,BV- Arbeit tariflos.1,BV- Arbeit Tarif 1.1,P Summe.2,WV+ Arbeit tariflos.2,WV+ Arbeit Tarif 1.2,WV+ Arbeit tariflos.3,WV+ Arbeit Tarif 1.3,WV- Arbeit tariflos.3,WV- Arbeit Tarif 1.3
min,2021-10-24 08:30:00,71,0.000,81.272,14.9,14.8,-0.3,0.00,76,0.000,...,1.8080,324.6421,324.6421,0.021170,116.1866,116.1866,21.3239,21.3239,2121.7470,2121.7470
max,2022-04-05 02:30:00,3788,0.804,516.666,44.6,33.6,21.5,12.23,4377,0.834,...,1.8081,741.2348,741.2348,15.538699,270.5456,270.5456,387.5243,387.5243,6073.0165,6073.0165

In [37]:
df_Großtagespflege_1.isnull().sum().sum()

201514

In [38]:
df_Großtagespflege_2 = df_Großtagespflege_2.drop(0, axis = 0) #dropping the first row
df_Großtagespflege_2 = df_Großtagespflege_2.reset_index(drop = True) #resetting the index
df_Großtagespflege_2 = df_Großtagespflege_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [39]:
df_Großtagespflege_2.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,...,Durchfluss.2,Volumen Kanal 1,Durchfluss.3,Volumen Kanal 1.1,WV+ Arbeit tariflos,WV+ Arbeit Tarif 1,WV+ Arbeit tariflos.1,WV+ Arbeit Tarif 1.1,WV+ Arbeit tariflos.2,WV+ Arbeit Tarif 1.2
min,2022-04-05 00:00:00,3788,0.000,516.666,19.9,18.4,-3.3,0.000,4377,0.000,...,0.000,3.63,0.000,5.14,191.2487,191.2487,270.488,270.488,387.3991,387.3991
max,2022-07-19 02:30:00,4185,0.473,649.077,36.7,36.6,15.1,8.097,4950,0.639,...,0.749,7.43,0.771,12.02,278.2320,278.2320,471.512,471.512,553.1428,553.1428

In [40]:
df_Großtagespflege_2.isnull().sum().sum()

407

In [41]:
df_HGII_1 = df_HGII_1.drop(0, axis = 0) #dropping the first row
df_HGII_1 = df_HGII_1.reset_index(drop = True) #resetting the index
df_HGII_1 = df_HGII_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [42]:
df_HGII_1.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,...,Temperaturdifferenz.1,Wärmeleistung.1,Volumen Kanal 1,Volumen Kanal 1.1,P Summe,WV+ Arbeit Tarif 1,WV- Arbeit Tarif 1,WV+ Arbeit Tarif 1.1,WV+ Arbeit Tarif 1.2,WV+ Arbeit Tarif 1.3
min,2021-09-22 12:45:00,5669,0.000000,120.8,51.362183,22.734283,-8.063049,-20.966041,4581450,0,...,0.00,0,7453.399,128.892,0.664223,133224.2002,0,970121.75,517197.28,32059.20
max,2022-01-26 05:15:00,330136,9.889479,6133.8,129.834778,75.951477,83.715149,409.707375,4581450,0,...,2.87,0,7811.359,135.548,90.049675,220451.9444,0,990515.76,569820.11,34494.08

In [43]:
df_HGII_1.isnull().sum().sum()

1425

In [44]:

df_HGII_2 = df_HGII_2.drop(0, axis = 0) #dropping the first row
df_HGII_2 = df_HGII_2.reset_index(drop = True) #resetting the index
df_HGII_2 = df_HGII_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [45]:
df_HGII_2.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,...,Vorlauftemperatur.1,Rücklauftemperatur.1,Temperaturdifferenz.1,Wärmeleistung.1,Volumen Kanal 1,Volumen Kanal 1.1,WV+ Arbeit Tarif 1,WV+ Arbeit Tarif 1.1,WV+ Arbeit Tarif 1.2,WV+ Arbeit Tarif 1.3
min,2022-01-26 00:00:00,329817,-0.059477,6129.5,66.467957,20.274994,10.366943,-3.187634,4581450,0.000,...,4.9,4.8,0.00,0.000,7810.039,135.548,220391.7913,0.07,569646.48,34489.82
max,2022-07-19 02:30:00,569850,12.025577,10886.7,133.214844,74.831970,79.130463,417.506313,4592958,50.555,...,26.2,28.1,18.09,189.934,8335.290,141.563,351082.1834,999999.16,634032.11,37740.92

In [46]:
df_HGII_2.isnull().sum().sum()

87

In [47]:

df_OH12_1 = df_OH12_1.drop(0, axis = 0) #dropping the first row
df_OH12_1 = df_OH12_1.reset_index(drop = True) #resetting the index
df_OH12_1 = df_OH12_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [48]:
df_OH12_1.agg(['min', 'max'])

,Time,Betriebsstunden,Fehlerstunden,Wärmeenergie total,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,...,Temperaturdifferenz.1,Wärmeleistung.1,Volumen Kanal 1,Fehler Flags,WV+ Arbeit Tarif 1,P Summe,WV+ Arbeit tariflos,WV+ Arbeit Tarif 1.1,WV+ Arbeit Tarif 2,WV+ Arbeit Tarif 1.2
min,2020-10-28 12:45:00,53545,2,1528696,0.000000,39871.9,16.611664,21.089966,-19.151917,-10.015334,...,0.533539,0.00000,9.94,0,1.027295e+04,1.361869,138822.5121,138822.5121,0,2860.5086
max,2022-01-26 05:15:00,64459,8,1964837,8.908233,52914.9,131.085785,85.609436,64.916931,444.877469,...,13.391571,494.56775,9.94,0,1.360425e+07,8.242883,138977.0036,161944.2611,0,12912.0315

In [49]:
df_OH12_1.isnull().sum().sum()

275837

In [50]:

df_OH12_2 = df_OH12_2.drop(0, axis = 0) #dropping the first row
df_OH12_2 = df_OH12_2.reset_index(drop = True) #resetting the index
df_OH12_2 = df_OH12_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [51]:
df_OH12_2.agg(['min', 'max'])

,Time,Betriebsstunden,Fehlerstunden,Wärmeenergie total,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie total.1,Durchfluss.1,Volumen.1,Vorlauftemperatur.1,Rücklauftemperatur.1,Wärmeleistung.1,Volumen Kanal 1,WV+ Arbeit Tarif 1,WV+ Arbeit Tarif 1.1,WV+ Arbeit Tarif 1.2
min,2022-01-26 00:00:00,64453,8,1964186,0.000000,52894.0,67.426422,50.174316,0.821106,0.000000,9623483,0.000000,NaN,10.710510,4.987228,0.000000,9.94,13602589,161937.5071,12912.0315
max,2022-05-25 19:00:00,67328,8,2071668,8.988428,56268.9,129.448792,85.733337,63.876648,375.568531,10378272,70.305594,NaN,18.194641,13.248383,434.390094,9.94,14520615,167258.7241,15663.6586

In [52]:
df_OH12_2.isnull().sum().sum()

11848

In [53]:

df_OH14_1 = df_OH14_1.drop(0, axis = 0) #dropping the first row
df_OH14_1 = df_OH14_1.reset_index(drop = True) #resetting the index
df_OH14_1 = df_OH14_1.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [54]:
df_OH14_1.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,Volumen.1,Vorlauftemperatur.1,Rücklauftemperatur.1,Temperaturdifferenz.1,Wärmeleistung.1,Gerätenummer,Volumen Kanal 1,WV+ Arbeit Tarif 1
min,2021-07-06 11:45:00,2066251,0.000,56611.56,27.6,25.6,0.00,0.000,4324851,0.021,716809.024,9.4,5.1,0.00,0.000,20137795,1.261,3945894
max,2022-01-26 05:15:00,2173799,2.919,59286.53,125.2,88.5,76.23,202.911,4452809,17.068,740497.822,13.9,200.0,7.86,85.599,20137795,307.148,4122541

In [55]:
df_OH14_1.isnull().sum().sum()

15361

In [56]:

df_OH14_2 = df_OH14_2.drop(0, axis = 0) #dropping the first row
df_OH14_2 = df_OH14_2.reset_index(drop = True) #resetting the index
df_OH14_2 = df_OH14_2.rename({'OBIS Bezeichnung' : 'Time'}, axis = 1) #renaming the column 'OBIS Bezeichnung' as 'time'

In [57]:
df_OH14_2.agg(['min', 'max'])

,Time,Wärmeenergie Tarif 1,Durchfluss,Volumen,Vorlauftemperatur,Rücklauftemperatur,Temperaturdifferenz,Wärmeleistung,Wärmeenergie Tarif 1.1,Durchfluss.1,Volumen.1,Vorlauftemperatur.1,Rücklauftemperatur.1,Temperaturdifferenz.1,Wärmeleistung.1,Volumen Kanal 1,WV+ Arbeit Tarif 1
min,2022-01-26 00:00:00,2173429,0.022,59280.56,63.2,34.8,4.72,0.574,4452683,0.000,740475.859,9.6,4.9,0.00,0.00,307.147,4122354.0
max,2022-07-19 02:30:00,2249907,2.703,60999.77,128.6,68.5,79.34,180.908,4558812,22.178,757751.635,14.7,13.7,8.22,83.59,499.988,4274868.0

In [58]:
df_OH14_2.isnull().sum().sum()

0

In [59]:
df_Chemie_1.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Vorlauftemperatur',
       'Rücklauftemperatur', 'Wärmeleistung', 'Volumen Kanal 1',
       'Volumen Kanal 1.1', 'Fehler Flags', 'WV+ Arbeit Tarif 1',
       'Fehler Flags.1', 'WV+ Momentanwert Tariflos', 'WV+ Arbeit Tarif 1.1',
       'P Summe', 'WV+ Arbeit tariflos', 'WV+ Arbeit Tarif 1.2',
       'WV- Arbeit tariflos', 'WV- Arbeit Tarif 1', 'BV+ Arbeit tariflos',
       'BV+ Arbeit Tarif 1', 'BV- Arbeit tariflos', 'BV- Arbeit Tarif 1'],
      dtype='object')

In [60]:
df_Chemie_2.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Vorlauftemperatur',
       'Rücklauftemperatur', 'Wärmeleistung', 'Volumen Kanal 1',
       'Volumen Kanal 1.1', 'Gerätenummer', 'Volumen Kanal 1.2',
       'WV+ Arbeit Tarif 1', 'WV+ Arbeit Tarif 1.1', 'WV+ Arbeit Tarif 1.2',
       'WV- Arbeit Tarif 1'],
      dtype='object')

In [61]:
df_Großtagespflege_1.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Durchfluss.2', 'Volumen Kanal 1', 'Durchfluss.3',
       'Volumen Kanal 1.1', 'P Summe', 'WV+ Arbeit tariflos',
       'WV+ Arbeit Tarif 1', 'WV- Arbeit tariflos', 'WV- Arbeit Tarif 1',
       'BV+ Arbeit tariflos', 'BV+ Arbeit Tarif 1', 'BV- Arbeit tariflos',
       'BV- Arbeit Tarif 1', 'WV- Arbeit tariflos.1', 'WV- Arbeit Tarif 1.1',
       'P Summe.1', 'WV+ Arbeit tariflos.1', 'WV+ Arbeit Tarif 1.1',
       'WV- Arbeit tariflos.2', 'WV- Arbeit Tarif 1.2',
       'BV+ Arbeit tariflos.1', 'BV+ Arbeit Tarif 1.1',
       'BV- Arbeit tariflos.1', 'BV- Arbeit Tarif 1.1', 'P Summe.2',
       'WV+ Arbeit tariflos.2', 'WV+ Arbeit Tarif 1.2',
       'WV+ Arbeit tariflos.3', 'WV+ Arbeit Tarif 1.3',
       'WV- Arbeit tariflos.3', 'WV- Arbeit Tarif 1.3'],
      dtype='object')

In [62]:
df_Großtagespflege_2.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Durchfluss.2', 'Volumen Kanal 1', 'Durchfluss.3',
       'Volumen Kanal 1.1', 'WV+ Arbeit tariflos', 'WV+ Arbeit Tarif 1',
       'WV+ Arbeit tariflos.1', 'WV+ Arbeit Tarif 1.1',
       'WV+ Arbeit tariflos.2', 'WV+ Arbeit Tarif 1.2'],
      dtype='object')

In [63]:
df_HGII_1.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Volumen Kanal 1', 'Volumen Kanal 1.1', 'P Summe',
       'WV+ Arbeit Tarif 1', 'WV- Arbeit Tarif 1', 'WV+ Arbeit Tarif 1.1',
       'WV+ Arbeit Tarif 1.2', 'WV+ Arbeit Tarif 1.3'],
      dtype='object')

In [64]:
df_HGII_2.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Volumen Kanal 1', 'Volumen Kanal 1.1',
       'WV+ Arbeit Tarif 1', 'WV+ Arbeit Tarif 1.1', 'WV+ Arbeit Tarif 1.2',
       'WV+ Arbeit Tarif 1.3'],
      dtype='object')

In [65]:
df_OH12_1.columns

Index(['Time', 'Betriebsstunden', 'Fehlerstunden', 'Wärmeenergie total',
       'Durchfluss', 'Volumen', 'Vorlauftemperatur', 'Rücklauftemperatur',
       'Temperaturdifferenz', 'Wärmeleistung', 'Betriebsstunden.1',
       'Fehlerstunden.1', 'Wärmeenergie total.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Volumen Kanal 1', 'Fehler Flags',
       'WV+ Arbeit Tarif 1', 'P Summe', 'WV+ Arbeit tariflos',
       'WV+ Arbeit Tarif 1.1', 'WV+ Arbeit Tarif 2', 'WV+ Arbeit Tarif 1.2'],
      dtype='object')

In [66]:
df_OH12_2.columns

Index(['Time', 'Betriebsstunden', 'Fehlerstunden', 'Wärmeenergie total',
       'Durchfluss', 'Volumen', 'Vorlauftemperatur', 'Rücklauftemperatur',
       'Temperaturdifferenz', 'Wärmeleistung', 'Wärmeenergie total.1',
       'Durchfluss.1', 'Volumen.1', 'Vorlauftemperatur.1',
       'Rücklauftemperatur.1', 'Wärmeleistung.1', 'Volumen Kanal 1',
       'WV+ Arbeit Tarif 1', 'WV+ Arbeit Tarif 1.1', 'WV+ Arbeit Tarif 1.2'],
      dtype='object')

In [68]:
df_OH14_1.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Gerätenummer', 'Volumen Kanal 1',
       'WV+ Arbeit Tarif 1'],
      dtype='object')

In [70]:
df_OH14_2.columns

Index(['Time', 'Wärmeenergie Tarif 1', 'Durchfluss', 'Volumen',
       'Vorlauftemperatur', 'Rücklauftemperatur', 'Temperaturdifferenz',
       'Wärmeleistung', 'Wärmeenergie Tarif 1.1', 'Durchfluss.1', 'Volumen.1',
       'Vorlauftemperatur.1', 'Rücklauftemperatur.1', 'Temperaturdifferenz.1',
       'Wärmeleistung.1', 'Volumen Kanal 1', 'WV+ Arbeit Tarif 1'],
      dtype='object')